# List file stuff
alias l='ls -lh'
alias la='ls -lah'

# Git magic
alias g='git'
alias gb='git branch'
alias ga='git add'
alias gp='git pull'
alias gs='git status'
alias gps='git push'
alias gc='git commit'
alias gm='git checkout master'
alias gco='git checkout'
alias gl='git log'
alias gd='git diff'
alias gt="git tag"
alias gk='touch .gitkeep'
alias gkr='find . -type d -exec touch {}/.gitkeep \;'
alias gcolor='git config --global --add color.ui true'

# Insta-server
alias wfs="python -m SimpleHTTPServer 8888"

# Editor
alias e='$EDITOR'

# shutdown/reboot stuff
alias gtfo='sudo shutdown -h now'
alias reboot="sudo reboot"

# Unsafe chrome and canary
alias chrome='open "/Applications/Google Chrome.app"'
alias canary='open "/Applications/Google Chrome Canary.app/"'
alias unsafe-chrome='open "/Applications/Google Chrome.app/" --args --disable-web-security'
alias unsafe-canary='open "/Applications/Google Chrome Canary.app/" --args --disable-web-security'