alias l='ls -lah'
alias ll='ls -lh'

alias g='git'
alias gb='git branch'
alias gp='git pull'
alias gs='git status'
alias gph='git pull'
alias gc='git commit'
alias gm='git checkout master'
alias gco='git checkout'
alias gl='git log'
alias gd='git diff'
alias gcolor='git config --global --add color.ui true'

alias e='$EDITOR'

alias gtfo='sudo shutdown -h now'